@charset "utf-8";
body{font-family: "Microsoft YaHei"; background-color: #f0f2f5;}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12{ padding-right: 5px; padding-left: 5px;}
/*header*/
.header{ background: #33465d;}
.header .navbar-top{ background: #33465d;border-color:#33465d;}
.header .navbar-default .navbar-brand{ color: white;}
.header .navbar-top .navbar-nav > .active > a,
.header .navbar-top .navbar-nav > .active > a:hover,
.header .navbar-top .navbar-nav > .active > a:focus{background: #33465d; color: #c7d0df;}
.header .navbar-top .navbar-nav > li > a{color: white; padding-right: 25px; padding-left: 25px;}
.header .navbar-top .navbar-nav > li > a:hover,
.header .navbar-top .navbar-nav > li > a:focus{background: #33465d; color: #c7d0df;}
.header .navbar-login > li > span { display: block; padding-top: 10px; padding-bottom: 10px; line-height: 20px; color: white}
.navbar-top .container-fluid{ padding-left: 0;}
.navbar-top .navbar-collapse{ padding-left: 0;}
.header .navbar-default .navbar-toggle {  border-color: #24364b;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #24364b;}
.header .navbar-default .navbar-collapse{ border-color: #24364b;}

/*main*/

.main-inner{margin-top: 47px; margin-bottom: 20px;}
.main-left,
.main-right{ background-color: white; border-radius: 4px; border-bottom: 3px solid #e3e4e8;}
.main-left{ padding: 10px 0;}
.main-right{ min-height: 437px; *height:437px;}
.ul-left{ margin: 0; padding: 0;}
.ul-left li{ list-style: none; margin-bottom: 4px;}
.ul-left li a{ padding: 15px 10px 15px 36px; display: block; color: #6c6c6c; font-size: 12px;}
.ul-left li a .co{ margin-right: 10px; color: #c5c9ce; font-size: 14px;vertical-align: middle;}
.ul-left li a .icon-chevron-right{ display: none; margin-right: 18px; color: #768082; font-size: 12px; line-height: 1.42857; vertical-align: middle;}
.ul-left li a:hover{ text-decoration: none; color: #0063dc;}
.ul-left li a:hover,
.ul-left li.active a{ border-left:4px solid #ed5565; padding-left: 32px; background-color: #f6f8fa;}
.ul-left li a:hover .icon-chevron-right,
.ul-left li.active a .icon-chevron-right{ display: block;}
.hr-line div{ margin: 0 10px 0 36px; height: 1px; border-bottom: 1px dashed #f1f1f3;}


.table-title{ background: #f6f8fa; border-radius: 4px 4px 0 0; padding: 8px 5px;}
.table-title h2{ font-size: 14px; color: #434a54; margin:10px 0;}
.table-title-back{ background: white; border-radius: 4px 4px 0 0; padding: 8px 5px; border-bottom: 3px solid #e3e4e8;}
.table-title-back h2{ font-size: 16px; color: #434a54; margin:10px 0;}
.table-title-right{ text-align: right;}
.table-title-right .monrey-number{ margin-right: 28px;}
.table-title-right .monrey-number em{font-style: normal; color: #ed5565;}
.table-title-right .btn-grey{ background: #a4a9ae; border-color: #a4a9ae; color: white; padding: 6px 24px;}

.table-right{padding: 10px 28px;}
.page-moudel{padding: 0 28px 20px;}
.table-default > thead > tr > th,
.table-default > tbody > tr > th,
.table-default > tfoot > tr > th,
.table-default > thead > tr > td,
.table-default > tbody > tr > td,
.table-default > tfoot > tr > td{ border-top:1px dashed #e3e4e8; font-size: 12px; color: #6c6c6c;}
.table-default > tbody > tr > td{border-top:none; border-bottom:2px dotted #e3e4e8;}
.table-default > thead > tr > th{ vertical-align: middle; border-bottom-color: #e3e4e8; font-weight: normal;font-size: 12px; white-space: nowrap;}
.table-default > thead > tr > td,
.table-default > tbody > tr > td,
.table-default > tfoot > tr > td{ vertical-align: middle;}
.table-default > thead > tr > th > div{ text-align: center; display: inline-block;}
.table-default > tbody > tr > td .td-div{ text-align: center; display: inline-block;}
.table-default > tbody > tr > td .td-div a{  color: #0063dc; padding: 0 4px; text-decoration: underline;}
.table-default > tbody > tr > td > p{ margin-bottom: 0; line-height: 20px;}
.table-default > tbody > tr > td a{ color: #6c6c6c;}
.table-default > tbody > tr > td > .color-link{ color: #0063dc;}
.table-default > tbody > tr > td .red-text{ color: #ed5565;}

.table-center > thead > tr > th,
.table-center > tbody > tr > th,
.table-center > tfoot > tr > th,
.table-center > thead > tr > td,
.table-center > tbody > tr > td,
.table-center > tfoot > tr > td{ text-align: center;}

.pagination-default > li > a,
.pagination-default > li > span{ border: none; color: #a4a9ae;}
.pagination-default > li > a:hover,
.pagination-default > li > span:hover{ background: transparent;}
.pagination-default > .active > a:hover,
.pagination-default > .active > span:hover{ background: transparent; color: #ed5565;}
.pagination-default > li:first-child > a,
.pagination-default > li:first-child > span,
.pagination-default > li:last-child > a,
.pagination-default > li:last-child > span{ background: #5d9cec; color: white; padding: 6px 12px 4px; border: none; border-bottom: 3px solid #4a89dc; border-radius: 4px;}
.pagination-default > .active > a,
.pagination-default > .active > span{ color: #ed5565; background: transparent;}
.pagination-default > .disabled > span,
.pagination-default > .disabled > span:hover,
.pagination-default > .disabled > span:focus,
.pagination-default > .disabled > a,
.pagination-default > .disabled > a:hover,
.pagination-default > .disabled > a:focus{ background: #5d9cec;border-bottom: 3px solid #4a89dc; color: white;}


@media (min-width: 768px) {
	.header .navbar-top .navbar-nav > li.nav-first > a{ padding-left: 25px;}
  	.header .collapse .navbar-login > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  	.header .collapse .navbar-login > li > a{padding-left: 10px; padding-right: 10px;}
  	.main-inner{margin-top: 30px;}
  	.ul-left li a{ padding-left: 20px;}
  	.ul-left li a:hover,
	.ul-left li.active a{ padding-left: 16px;}
}
@media (max-width: 768px) {
	.container{padding:0; }
	.navbar-top .navbar-collapse{ padding-left: 15px;}
	.main-inner{margin-top: 15px;}
	.ul-left li{margin-bottom: 2px;}
	.ul-left li a{ padding: 10px 10px 10px 20px;}
	.ul-left li a:hover,
	.ul-left li.active a{ padding-left: 16px;}
	.main-left{margin-bottom: 10px;}
	.ul-left li a .icon-chevron-right{margin-right: 0;}
	.table-title{padding: 6px 0;}
	.table-title h2{ margin:10px 15px;}
	.table-title .container-fluid{padding: 0;}
	.table-title-right {text-align: left;}
	.table-title-right .monrey-number{ margin-right:10px;}
	.table-right{padding: 10px 15px;}
	.page-moudel{padding: 0 15px 20px;}
}
@media (max-width: 980px) {
	.table-right{padding: 10px 15px;}
	.page-moudel{padding: 0 15px 20px;}
}
@media (min-width: 1200px) {
	.header .navbar-top .navbar-nav > li.nav-first > a{ padding-left: 0;}
	.header .navbar{ margin-top: 13px;}
	.main-inner{margin-top: 47px;}
}
.header .navbar{ margin-bottom: 0;}