@charset "utf-8";
body{font-family: "Microsoft YaHei"; background-color: #f0f2f5;}
/*header*/
.header{ background: #33465d;}
.header .navbar-top{ background: #33465d;border-color:#33465d;}
.header .navbar-default .navbar-brand{ color: white;}
.header .navbar-top .navbar-nav > .active > a,
.header .navbar-top .navbar-nav > .active > a:hover,
.header .navbar-top .navbar-nav > .active > a:focus{background: #33465d; color: #c7d0df;}
.header .navbar-top .navbar-nav > li > a{color: white; padding-right: 25px; padding-left: 25px;}
.header .navbar-top .navbar-nav > li > a:hover,
.header .navbar-top .navbar-nav > li > a:focus{background: #33465d; color: #c7d0df;}
.header .navbar-login > li > span { display: block; padding-top: 10px; padding-bottom: 10px; line-height: 20px; color: white}
.navbar-top .container-fluid{ padding-left: 0;}
.navbar-top .navbar-collapse{ padding-left: 0;}
.header .navbar-default .navbar-toggle {  border-color: #24364b;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #24364b;}
.header .navbar-default .navbar-collapse{ border-color: #24364b;}

/*main*/

.main-inner{margin-top: 47px;}
.main-left,
.main-right{ background-color: white; border-radius: 4px;}
.main-left{ padding: 10px 0;}
.ul-left{ margin: 0; padding: 0;}
.ul-left li{ list-style: none; margin-bottom: 4px;}
.ul-left li a{ padding: 15px 10px 15px 36px; display: block; color: #6c6c6c; font-size: 12px;}
.ul-left li a .co{ margin-right: 10px; color: #c5c9ce; font-size: 14px;vertical-align: middle;}
.ul-left li a .icon-chevron-right{ display: none; margin-right: 18px; color: #768082; font-size: 12px; line-height: 1.42857; vertical-align: middle;}
.ul-left li a:hover{ text-decoration: none; color: #0063dc;}
.ul-left li a:hover,
.ul-left li.active a{ border-left:4px solid #ed5565; padding-left: 32px; background-color: #f6f8fa;}
.ul-left li a:hover .icon-chevron-right,
.ul-left li.active a .icon-chevron-right{ display: block;}
.hr-line div{ margin: 0 10px 0 36px; height: 1px; border-bottom: 1px dashed #f1f1f3;}






@media (min-width: 768px) {
	.header .navbar-top .navbar-nav > li.nav-first > a{ padding-left: 0;}
  	.header .collapse .navbar-login > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header .collapse .navbar-login > li > a{padding-left: 10px; padding-right: 10px;}
  .main-inner{margin-top: 30px;}
  .ul-left li a{ padding-left: 20px;}
  .ul-left li a:hover,
	.ul-left li.active a{ padding-left: 16px;}
}
@media (max-width: 768px) {
	.container{padding:0; }
	.main-inner{margin-top: 15px;}
	.ul-left li{margin-bottom: 2px;}
	.ul-left li a{ padding: 10px 10px 10px 20px;}
	.ul-left li a:hover,
	.ul-left li.active a{ padding-left: 16px;}
	.main-left{margin-bottom: 10px;}
	.ul-left li a .icon-chevron-right{margin-right: 0;}
}
@media (min-width: 1200px) {
	.header .navbar{ margin-top: 13px;}
	.main-inner{margin-top: 47px;}
}
.header .navbar{ margin-bottom: 0;}